/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&&family=Spectral:wght@200;300;400&display=swap');

$bodyBgColor: rgb(23, 23, 23);
$primaryFontColor: rgb(255, 255, 255);
$dimPrimaryFontColor: rgba(255, 255, 255, 0.6);
$layoutBorderColor: rgba(42, 43, 43);
$blueLinkColor: rgb(104, 170, 242);
$primaryBgColor: rgb(42, 43, 43);
$primaryBorderColor: rgb(75, 75, 75);
$primaryPaleBorderColor: rgb(102, 102, 102);
$dimPrimaryPaleBorderColor: rgba(102, 102, 102, 0.8);
$secondaryBgColor: rgb(36, 36, 36);
$secondaryBorderColor: rgb(58, 58, 58);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $bodyBgColor;
}
