@import '../../../styles.scss';

.chart-wrapper {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

h3 {
  color: $primaryFontColor;
  font-family: 'Spectral';
  font-size: 36px;
  font-weight: 200;
  text-align: center;
}

a {
  color: $blueLinkColor;
  font-family: 'Inter';
  font-size: 13px;
  text-decoration: none;
}
