<div class="header-wrapper">
  <header>
    <h1 class="title">techstack-ranking</h1>
    <nav>
      <ul>
        <li>
          <a
            [routerLink]="['/rank']"
            routerLinkActive="active"
            >Rank</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/jobs']"
            routerLinkActive="active"
            >Job</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/scrap']"
            routerLinkActive="active"
            >Scrap</a
          >
        </li>
      </ul>
    </nav>
  </header>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
