<div class="header-wrapper">
  <header>
    <h1 class="title">
      <a
        [routerLink]="['/rank']"
        routerLinkActive="active"
        >techstack-ranking</a
      >
    </h1>
    <nav>
      <ul>
        <li>
          <a
            [routerLink]="['/rank/list']"
            routerLinkActive="active"
            >Ranking</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/jobs']"
            routerLinkActive="active"
            >Jobs</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/scrap']"
            routerLinkActive="active"
            >Scrap</a
          >
        </li>
      </ul>
    </nav>
  </header>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
