<div class="list-container">
  <div class="title-wrapper">
    <h6>Rank</h6>
    <div class="button-group">
      <button
        (click)="setPage(-1)"
        [disabled]="disablePrevious$ | async"
      >
        <fa-icon
          [icon]="faChevronLeft"
          size="xs"
        ></fa-icon>
      </button>
      <button
        (click)="setPage(+1)"
        [disabled]="disableNext$ | async"
      >
        <fa-icon
          [icon]="faChevronRight"
          size="xs"
        ></fa-icon>
      </button>
    </div>
  </div>
  <div
    class="table-wrapper"
    *ngIf="techStacks$ | async as techStacks"
  >
    <table>
      <thead>
        <tr>
          <th>RANK</th>
          <th>TECH STACK</th>
          <th>COUNT</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let techstack of techStacks">
          <td>{{ techstack.rank }}</td>
          <td>{{ techstack.name }}</td>
          <td>{{ techstack.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="alert"
    *ngIf="errorMessage$ | async as errorMessage"
  >
    {{ errorMessage }}
  </div>
</div>
