@import '../../../styles.scss';

.dropdown-collection {
  width: 100%;
  height: 100%;
  position: relative;
}

.dropdown-button {
  border: 1px solid $primaryBorderColor;
  border-radius: 5px;
  justify-content: space-between;
  padding: 4px 10px;
  background-color: $bodyBgColor;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Inter';
  color: $dimPrimaryFontColor;
  width: 100%;
  cursor: pointer;
  align-items: center;
  &:hover {
    border: 1px solid $primaryPaleBorderColor;
    color: $primaryFontColor;

    fa-icon {
      color: $primaryPaleBorderColor;
    }
  }
  fa-icon {
    transition: transform 300ms ease-in-out;
    color: $primaryBorderColor;
    &.dropdown-open {
      transform: rotate(180deg);
    }
  }
}

.dropdown-value {
  font-weight: 500;
  font-size: 13px;
  font-family: 'Inter';
  color: $primaryFontColor;
}

.dropdown-list {
  display: none;
  background: $bodyBgColor;
  list-style: none;
  border: 1px solid $primaryBorderColor;
  border-radius: 5px;
  color: $primaryFontColor;
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
  padding: 5px;
  z-index: 999;
  li {
    padding: 4px 10px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    font-family: 'Inter';
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    fa-icon {
      display: none;
      color: $blueLinkColor;
    }
    &.selected {
      fa-icon {
        display: inline;
      }
    }
    &:hover {
      background: $primaryBorderColor;
    }
  }
  &.dropdown-open {
    display: block;
  }
}
