<div class="dropdown-collection">
  <button
    class="dropdown-button"
    aria-haspopup="listbox"
    aria-labelledby="dropdown-label"
    (click)="toggleDropdown()"
    (clickOutside)="dropdownOpen = false"
  >
    <span id="dropdown-label">{{ title }}</span>
    <fa-icon
      [icon]="faChevronDown"
      size="xs"
      [ngClass]="{ 'dropdown-open': dropdownOpen }"
    ></fa-icon>
  </button>
  <ul
    class="dropdown-list"
    role="listbox"
    aria-expanded="false"
    [ngClass]="{ 'dropdown-open': dropdownOpen }"
  >
    <li
      *ngFor="let o of options"
      [ngClass]="{ selected: currentValue === o }"
      (click)="select(o)"
      role="option"
    >
      <span>{{ o }}</span>
      <fa-icon
        [icon]="faCheck"
        size="xs"
      ></fa-icon>
    </li>
  </ul>
</div>
