@import '../calendar-constants';
@import '../calendar-mixins';
@import '../../../../styles.scss';

:host-context(.calendar--disabled) > * {
  opacity: 0.38;
  cursor: initial;
}

.month {
  @include calendarGrid();

  color: $dimPrimaryFontColor;
  font-family: 'Inter';
  font-size: 11px;
  font-weight: 400;
  @each $first-day-of-week, $days-of-week in $first-day-of-week-to-days-of-week
  {
    @each $day-of-week in $days-of-week {
      :host-context(.calendar--first-day-of-week-#{$first-day-of-week})
        &--first-day-#{$day-of-week} {
        time:first-child {
          // flex item fallback
          margin-left: (index($days-of-week, $day-of-week) - 1) *
            $calendar-cell-size--accessible;
          // grid item
          grid-column: index($days-of-week, $day-of-week);
          @supports (display: grid) {
            margin-left: 0;
          }
        }
      }
    }
  }

  &__date {
    @include calendarGridCell();
    cursor: pointer;

    &--active {
      //background-color: rgba(104, 170, 242, 0.4);
      border: 1px solid $primaryBorderColor;
      border-radius: 5px;
    }

    &--selected {
      //background-color: rgb(104, 170, 242);
      //color: white;
      color: $primaryFontColor;
      border: 1px solid $primaryPaleBorderColor;
      border-radius: 5px;
    }

    &--disabled {
      opacity: 0.38;
    }

    :host-context(.calendar--disabled) & {
      cursor: initial;
    }
  }
}
