@import '../../../styles.scss';

.table-wrapper {
  width: 100%;
}

table {
  width: 100%;
}

th {
  color: $dimPrimaryFontColor;
  font-size: 10px;
  font-weight: 500;
  font-family: 'Inter';
  text-align: left;
  display: flex;
  //justify-content: space-between;
  gap: 10px;
  align-items: center;
}

tr {
  border-bottom: 1px solid $primaryBorderColor;
  width: 100%;
  display: grid;
  //grid-template-columns: minmax(0, 1.5fr) minmax(0, 2fr);
  column-gap: 20px;
  padding: 10px 0;
  align-items: center;
  grid-template-columns: minmax(0, 1.5fr) minmax(0, 2.5fr) minmax(0, 2fr);
  // &.expand {
  //   grid-template-columns: minmax(0, 1.5fr) minmax(0, 2fr) minmax(0, 2fr);
  // }
}

td {
  color: $primaryFontColor;
  font-size: 11px;
  font-weight: 400;
  font-family: 'Inter';
  vertical-align: middle;

  &.command-cell {
    max-height: 100px;
    overflow-y: auto;
    @include scrollbars(0.5em, $primaryBorderColor);
  }
}

.action-cell {
  display: flex;
  gap: 10px;
}

button {
  border: 1px solid $primaryBorderColor;
  border-radius: 5px;
  padding: 4px 10px;
  background-color: $bodyBgColor;
  font-size: 11px;
  font-weight: 300;
  font-family: 'Inter';
  color: $dimPrimaryFontColor;
  cursor: pointer;
  &:hover {
    border: 1px solid $primaryPaleBorderColor;
    color: $primaryFontColor;
  }
}

ngx-json-viewer {
  --ngx-json-key: #23a0db;
  --ngx-json-toggler: #45376f;
}
