<div class="paginator-btn-group">
  <button
    (click)="decrementPage()"
    [disabled]="disabledPrev"
  >
    <fa-icon
      [icon]="faChevronLeft"
      size="xs"
    ></fa-icon>
  </button>
  <button
    *ngFor="let p of pageNums"
    (click)="setPage(p)"
    [ngClass]="{ selected: p === currentPage }"
  >
    {{ p }}
  </button>
  <button
    (click)="incrementPage()"
    [disabled]="disabledNext"
  >
    <fa-icon
      [icon]="faChevronRight"
      size="xs"
    ></fa-icon>
  </button>
</div>
