@import '../../../styles.scss';

.list-container {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.table-wrapper {
  width: 100%;
}

table {
  width: 100%;
}

th {
  color: $dimPrimaryFontColor;
  font-size: 10px;
  font-weight: 500;
  font-family: 'Inter';
  text-align: left;
  display: flex;
  justify-content: space-between;

  &.sortable {
    cursor: pointer;
    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &.sorted {
    color: $primaryFontColor;
  }
}

tr {
  border-bottom: 1px solid $primaryBorderColor;
  width: 100%;
  display: grid;
  grid-template-columns:
    minmax(0, 1.5fr) minmax(0, 1.5fr) minmax(0, 2fr) minmax(0, 1fr)
    minmax(0, 1fr);
  column-gap: 20px;
  padding: 10px 0;
}

td {
  color: $primaryFontColor;
  font-size: 11px;
  font-weight: 400;
  font-family: 'Inter';
}

.alert {
  color: $primaryFontColor;
  font-size: 11px;
  font-weight: 400;
  font-family: 'Inter';
}

.dropdown-wrapper {
  width: 100%;
  max-width: 110px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
