<div class="list-container">
  <app-filter-setting></app-filter-setting>
  <app-active-filter-list></app-active-filter-list>
  <div
    class="table-wrapper"
    *ngIf="jobList$ | async as jobList"
  >
    <table>
      <thead *ngIf="sortAndOrder$ | async as so">
        <tr>
          <th>POSITION</th>
          <th>COMPANY</th>
          <th
            class="sortable"
            [ngClass]="{ sorted: so.sort === 'techstack' }"
            (click)="toggleTechStackOrder()"
          >
            TECH STACKS
            <ng-container *ngIf="so.sort !== 'techstack'; else techstackSorted"
              ><fa-icon
                [icon]="faSort"
                size="sm"
              ></fa-icon
            ></ng-container>
            <ng-template #techstackSorted
              ><fa-icon
                *ngIf="so.order === 'desc'"
                [icon]="faSortDown"
                size="sm"
              ></fa-icon>
              <fa-icon
                *ngIf="so.order === 'asc'"
                [icon]="faSortUp"
                size="sm"
              ></fa-icon>
            </ng-template>
          </th>
          <th>ENTRY LEVEL</th>
          <th
            class="sortable"
            [ngClass]="{ sorted: so.sort === 'created' }"
            (click)="toggleCreatedOrder()"
          >
            CREATED
            <ng-container *ngIf="so.sort !== 'created'; else createdSorted"
              ><fa-icon
                [icon]="faSort"
                size="sm"
              ></fa-icon
            ></ng-container>
            <ng-template #createdSorted
              ><fa-icon
                *ngIf="so.order === 'desc'"
                [icon]="faSortDown"
                size="sm"
              ></fa-icon>
              <fa-icon
                *ngIf="so.order === 'asc'"
                [icon]="faSortUp"
                size="sm"
              ></fa-icon>
            </ng-template>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let job of jobList.rows"
          class="selectable"
          (click)="setJobDetail(job.id)"
        >
          <td>{{ job.position }}</td>
          <td>{{ job.company }}</td>
          <td>{{ job.TechStacks | mapJoin : 'name' }}</td>
          <td>{{ job.entryLevel }}</td>
          <td>{{ job.createdAt | date }}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <div class="dropdown-wrapper">
        <app-dropdown
          [title]="currentPageSizeTitle"
          [options]="pageSizes"
          [default]="pageSizes[0]"
          (currentValueChange)="setPageSize($event)"
        ></app-dropdown>
      </div>
      <div
        class="paginator-wrapper"
        *ngIf="pagination$ | async as p"
      >
        <app-paginator
          [totalPages]="p.totalPages"
          [currentPage]="p.curPageNum"
          (pageChange)="setPageNum($event)"
        ></app-paginator>
      </div>
    </div>
  </div>
</div>
